[2018-07-21 13:28] SamHatoum opened #114 "Cannot run chimp with --browser="MicrosoftEdge" windows 10 latest version"
<a href="https://github.com/miendt"><img src="https://avatars1.githubusercontent.com/u/22675530?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [miendt](https://github.com/miendt)**
_Friday May 04, 2018 at 07:38 GMT_
_Originally opened as https://github.com/xolvio/chimp/issues/688_

----

#####  Expected behaviour
- Run web application on Microsoft Edge.
- I want to run

[2018-07-21 13:28] SamHatoum opened #115 "Couldn't connect Chimp to TestObject cloud service"
<a href="https://github.com/miendt"><img src="https://avatars1.githubusercontent.com/u/22675530?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [miendt](https://github.com/miendt)**
_Friday May 11, 2018 at 08:41 GMT_
_Originally opened as https://github.com/xolvio/chimp/issues/689_

----

#####  Expected behaviour
- I want to run automation testing on [TestObject](https:

[2018-07-21 13:28] SamHatoum opened #116 "Node 10.1.0, Chimp and fibers problem (can we upgrade fibers?)"
<a href="https://github.com/joscha"><img src="https://avatars3.githubusercontent.com/u/188038?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [joscha](https://github.com/joscha)**
_Friday May 18, 2018 at 07:40 GMT_
_Originally opened as https://github.com/xolvio/chimp/issues/690_

----

#####  Expected behaviour

Chimp installs as expected.

#####  Actual behaviour

The

[2018-07-21 13:29] samhatoum commented on #116
<a href="https://github.com/joscha"><img src="https://avatars3.githubusercontent.com/u/188038?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [joscha](https://github.com/joscha)**
_Wednesday Jul 11, 2018 at 05:06 GMT_

----

@samhatoum any chance to get these deps bumped?

[2018-07-21 13:29] samhatoum opened #117 "Hooks errors fix for #687"
<a href="https://github.com/rsshilli"><img src="https://avatars3.githubusercontent.com/u/2487045?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [rsshilli](https://github.com/rsshilli)**
_Tuesday Jun 05, 2018 at 18:52 GMT_
_Originally opened as https://github.com/xolvio/chimp/pull/691_

----

This fixes a few things:
- Now an error in the hook will cause the tests to fai

[2018-07-21 13:29] samhatoum commented on #117
<a href="https://github.com/rsshilli"><img src="https://avatars3.githubusercontent.com/u/2487045?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rsshilli](https://github.com/rsshilli)**
_Tuesday Jun 05, 2018 at 19:07 GMT_

----

Huh.  The tests on Firefox failed because "Error: Failed to decode response from marionette".  I have no idea why that would happen (or what

[2018-07-21 13:29] samhatoum commented on #117
<a href="https://github.com/rsshilli"><img src="https://avatars3.githubusercontent.com/u/2487045?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rsshilli](https://github.com/rsshilli)**
_Tuesday Jun 05, 2018 at 19:09 GMT_

----

These tests for Firefox passed when i ran them locally on my Ubuntu Windows Subsystem.

[2018-07-21 13:29] samhatoum commented on #117
<a href="https://github.com/rsshilli"><img src="https://avatars3.githubusercontent.com/u/2487045?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rsshilli](https://github.com/rsshilli)**
_Thursday Jun 07, 2018 at 18:09 GMT_

----

@samhatoum I think I need your help here.   Can you give me any advice?

[2018-07-21 13:29] samhatoum opened #118 "Security vulnerability"
<a href="https://github.com/rodrigok"><img src="https://avatars1.githubusercontent.com/u/234261?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [rodrigok](https://github.com/rodrigok)**
_Thursday Jun 07, 2018 at 12:53 GMT_
_Originally opened as https://github.com/xolvio/chimp/issues/692_

----

#####  Expected behaviour
No security vulnerabilities

#####  Actual behaviou

[2018-07-21 13:29] samhatoum commented on #118
<a href="https://github.com/mitar"><img src="https://avatars3.githubusercontent.com/u/585279?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mitar](https://github.com/mitar)**
_Monday Jul 16, 2018 at 08:28 GMT_

----

I think this was already reported [2 years ago](https://github.com/xolvio/chimp/issues/322).

[2018-07-21 13:29] samhatoum opened #119 "Chrome render issue with chimp"
<a href="https://github.com/eliawk"><img src="https://avatars2.githubusercontent.com/u/362016?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [eliawk](https://github.com/eliawk)**
_Tuesday Jun 12, 2018 at 14:39 GMT_
_Originally opened as https://github.com/xolvio/chimp/issues/693_

----

Since few days chimp start opening Chrome like this
<img width="1422" alt="schermata

[2018-07-21 13:29] samhatoum opened #120 "Make chimp work with JDK10"
<a href="https://github.com/joscha"><img src="https://avatars3.githubusercontent.com/u/188038?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [joscha](https://github.com/joscha)**
_Monday Jul 02, 2018 at 01:37 GMT_
_Originally opened as https://github.com/xolvio/chimp/pull/696_

----

Fixes:
[code]
due to JDK 10.

See https://github.com/vvo/selenium-standalone/issues/369

[2018-07-21 13:30] samhatoum commented on #120
<a href="https://github.com/joscha"><img src="https://avatars3.githubusercontent.com/u/188038?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [joscha](https://github.com/joscha)**
_Monday Jul 02, 2018 at 01:39 GMT_

----

cc @serceman

[2018-07-21 13:30] samhatoum commented on #120
<a href="https://github.com/joscha"><img src="https://avatars3.githubusercontent.com/u/188038?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [joscha](https://github.com/joscha)**
_Monday Jul 02, 2018 at 02:15 GMT_

----

CI errors do not seem to be related:
[code]
?

[2018-07-21 13:30] samhatoum commented on #120
<a href="https://github.com/joscha"><img src="https://avatars3.githubusercontent.com/u/188038?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [joscha](https://github.com/joscha)**
_Wednesday Jul 11, 2018 at 05:06 GMT_

----

@samhatoum any chance to get this in?

[2018-07-21 13:30] samhatoum commented on #120
<a href="https://github.com/joscha"><img src="https://avatars3.githubusercontent.com/u/188038?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [joscha](https://github.com/joscha)**
_Friday Jul 20, 2018 at 04:42 GMT_

----

@samhatoum is chimp still maintained?

[2018-07-23 15:56] #102 closed

[2018-07-23 15:56] #103 closed

[2018-07-26 15:45] ozzywalsh opened #124 "Difference between this repo(Chimpy) and [Chimp](https://github.com/xolvio/chimp)?"
Difference between this repo(Chimpy) and [Chimp](https://github.com/xolvio/chimp)?

Some more clarity on this is needed,

[2018-07-26 19:10] abecks commented on #124
I'm under the impression that "Chimpy" is the repo we know and love and is what they mean by "Chimp 1.0". The xolvio Chimp repo is going to be completely rewritten as "Chimp 2.0", and won't receive bug fixes for the 1.0 "Chimpy" line.

[2018-07-26 19:38] abecks opened #126 "wrapAsync is not defined"
#####  Expected behaviour
- wrapAsync should be available globally as per the [documentation](https://thebrainfamily.github.io/chimpy/synchronous-tests)

#####  Actual behaviour
- `ReferenceError: wrapAsync is not defined`

##### Exact steps to reproduce / repository that demonstrates the problem

- Call `wrapAsync` in a test file

#####  Version & tools:
- Chimp command line used: `chimp ../.chim

[2018-07-26 21:06] abecks commented on #126
So I've tracked this down to `mocha-helper.js`

`chimp-helper.js` has an `init` method that sets up all of the chimp-based global variables.

`mocha-helper` imports this file, but only runs `init` inside the `before` hook. The before hook has not run yet while the test files are being loaded by mocha, therefore these variables are not defined.

It would seem a solution is to move the call to `chim

[2018-08-02 14:48] lgandecki commented on #124
Yeah, @abecks is right. How did you guys even find this repo out so quickly? We are looking to make a proper announcement this weekend.

[2018-08-02 15:45] abecks commented on #124
@lgandecki Chimp announced it on their website: https://chimp.readme.io/

[2018-08-02 15:47] abecks commented on #126
Using wrapAsync inside `before`, `beforeEach`, etc. works, so I'm gonna close this issue. I do think it should be documented though.

[2018-08-02 15:47] #126 closed

[2018-08-02 16:25] lgandecki commented on #124
well, that's definitely a good point :D

[2018-08-28 17:27] bmanturner commented on #107
This is also an issue for my team:

[code]

[2018-09-15 06:29] thebarty opened #131 "Problems running chimpy on Gitlab `Error: unknown error: Chrome failed to start: exited abnormally`"
Hi guys,

this one is causing me a lot of headache right now and I really need some help. :-O

I am trying to run Chimpy on Gitlab (CE self-hosted) and I always end up with this error:

[code]

I am using the docker-image "blurri/meteor-node" (see https://hub.docker.com/r/blurri/meteor-node/~/dockerfile/)

Those are the package-versions I am using
[code]

This is the way I call chimpy
[code]

chim

[2018-09-16 21:49] lucetius commented on #131
It looks like Chrome problem. Can you paste `./tests/_chimp_config.js` file?

[2018-09-17 10:42] thebarty commented on #131
@lucetius Thanks a lot for your help, man! I really appreciate it…

This is my ./tests/_chimp_config.js.

Do you need any more infos?

[code]

[2018-09-17 22:10] lucetius commented on #131
Try to change webdriverio section to:
[code]
in your `./tests/_chimp_config.js`

[2018-09-18 16:13] thebarty commented on #131
YES! This one did the trick!!!!

The next issue just came up - chimp does NOT run all my tests. But it's my first iteration on CI and I'll try to figure it out… thanks for your help again!

[2018-09-19 16:02] thebarty commented on #131
@lucetius I am seeing those errors in my tests. For some reasons chimpy does not seem to be able to connect to meteor. PLUS after only a few tests it exits.

Can you guide me to a best-practise example on how to setup chimpy with meteor on ci?

[code]

[2018-09-19 22:53] thebarty commented on #131
I've got it!

It was maxBuffer set too small when executing via `child_process.exec()`.

See
https://github.com/meteor/todos/pull/273
https://github.com/meteor/todos/pull/274

[2018-09-19 22:53] #131 closed

[2018-09-25 07:18] joscha commented on #120
@lgandecki any chance to get https://github.com/xolvio/chimp/pull/696 integrated?

[2018-09-25 10:44] lgandecki commented on #120
yup. @lucetius want to take a look ? :)

[2018-09-27 06:57] aasimali commented on #108
@samhatoum

Can you tell me, please? how exactly to update the driver options? to enable the download option in the headless browser?

_I use Ubuntu 16.04 LTS_
Thank you.

[2018-10-10 23:20] dkoo761 opened #132 "Chimpy doesn't appear to support Sauce Connect (which is required for testing non-public apps via Sauce Labs)"
I was able to get Chimpy to connect to Sauce Labs with host=ondemand.saucelabs.com and port=80 and run tests. However, since the application I'm testing is not publicly available (which I'm assuming is the normal use case since it's a little late to test after deploying), I need to use the Sauce Connect proxy/tunnel so that Sauce Labs can reach our internal network to test the app.

The problem is

[2018-10-17 20:32] abecks commented on #107
I am also experiencing this issue with Meteor 1.8:

`Error: Requires Babel "^7.0.0-0", but was loaded with "6.26.3". If you are sure you have a compatible version of @babel/core, it is likely that something in your build process is loading the wrong version. Inspect the stack trace of this error to look for the first entry that doesn't mention "@babel/core" or "babel-core" to see what is calling B

[2018-10-26 13:06] mpeltonen commented on #116
Node.js 10.x LTS starting next week, it would be awesome to get Chimpy compiling with it. I hope we get a new release with these dependency updates soon 👍

[2018-11-08 15:02] gustawdaniel commented on #118
I have huge vulnerabilities list

[code]

I see fro example that in `package.json` there is dependence from `deep-extend` in version `^0.4.1` but there is known issue `Prototype Pollution` fixed in `0.5.1`. Some time ago cypress has similar problem with this dependence, but now it is updated.

Are you planing to update dependencies and fix these `vulnerabilities` or is it impossible due to backwar

[2018-11-09 13:44] lgandecki commented on #118
We do plan to bump up the dependencies, but I'm curious - besides the fact that you get this listed when you do npm audit how are those problematic to you? No one can connect to your chimp instance to exploit them, it's not an exposed server. Just the fact that there is a possibility of exploiting a given package doesn't mean there is a possibility to exploit it in any kind of a software that uses

[2018-11-11 09:12] gustawdaniel commented on #118
Not problematic. It only looks badly during installation.

[2018-11-12 15:49] proCrichard commented on #101
Is there an updated link to the full chimpy config options?

[2019-01-11 07:02] dinozarafonitis commented on #101
https://github.com/TheBrainFamily/chimpy/blob/master/src/bin/default.js

[2019-01-28 14:22] Elangopalakrishnan commented on #108
@samhatoum

How we can implement above solution in c# script coz i need to download pdf and validate in chrome headless browser mode..

Please guide me on this..

Thanks in advance,
Elango

[2019-01-30 13:09] jdvegmond opened #137 "Output still references to chimp and outdated website."
#####  Expected behaviour
The output of 'chimpy' should reflect the changes that were made in the name.

#####  Actual behaviour
After running chimpy I see the following:

Master Chimp and become a testing Ninja! Check out our course: http://bit.ly/2btQaFu

[chimp] Running...

'Chimp' is still mentioned. But the link that is shown redirects to https://www.qualityfaster.com/?utm_source=XolvOSS&utm_

[2019-02-15 09:54] chrisvoo commented on #107
Hi there,
I see that [4 months ago your Babel dependencies were upgraded ](https://github.com/TheBrainFamily/chimpy/blob/master/package.json)but NPM still has the old version. Will it be published the current codebase? NPM reports that the last version is `0.54.0` while in this repo I can see just `0.52.0`, which seems upgraded than the corresponding version on NPM.

[2019-02-15 11:21] lgandecki commented on #107
Hey @chrisvoo yes, our bad. We've been crazily swamped with work recently here at TheBrain Software House. I asked @lucetius to spend some time on chimp over the next week, so all the most immediate and important issues will be taken care of.

[2019-02-15 15:12] chrisvoo commented on #107
No worries, at the moment I'm directly using this repo as GIT submodule. Thanks for the reply

[2019-02-20 20:04] cy commented on #116
looks like ` [c2aaa17](/sirphoenix/chimpy/commit/c2aaa17650719c094256743d8c952468449d8b82)` and ` [6ad8a6b](/sirphoenix/chimpy/commit/6ad8a6b78cfae388c868d03465d5612d1ef8611b) ` on @sirphoenix's branch fixes the issue? Can we get that or similar merged and released?

[2019-02-22 23:24] hugochibougamau commented on #108
To add more noise to the conversation. Using
        groovyVersion = '2.5.4'
        gebVersion = '2.3'
        seleniumVersion = '3.141.59'
        chromeDriverVersion = '2.45'
        geckoDriverVersion = '0.24.0'
        ieDriverVersion = '3.6'

the chromeHeadless driver is unable to download a file. However, everything is fine using Chrome (Version 71.0.3578.98) or by that means Firefox.

The

[2019-02-27 00:27] jboydensfdc commented on #107
@lucetius @lgandecki any updates on getting a new version published to npm?

[2019-02-28 14:34] bj00rn commented on #118
First off, really appreciate your time and effort in adopting this project 👍 🥇

Apart from bloating npm audit et al, it bloats up the nice new GitHub `Security Alerts feature` (https://help.github.com/articles/about-security-alerts-for-vulnerable-dependencies) for our projects.

I understand that issue this rather unrelated to this particular project

![image](https://user-images.githubusercontent

[2019-03-13 23:51] OliverScholle commented on #108
For our C# environment we use the packages:
Selenium.Chrome.WebDriver v2.35.0
Selenium.WebDriver v3.10.0
Appium.WebDriver v4.0.0.1-beta
Chrome Version 72.0.3626.121

[code]
We also had the same problem of Excel files not being downloaded after being clicked. Once the behavior parameter was allowed for the Page.setDownloadBehavior command it just worked immediately.

[2019-03-27 03:56] vanquy72dn commented on #108
Is any available workaround  to overcome this issue?
Thanks so much.

[2019-03-28 06:17] lucasczpnk commented on #108
For those who are struggling with this feature in python:

I've found a great headless chrome driver builder made by @shawnbutton and it's available in his [repo [PythonHeadlessChrome]](https://github.com/shawnbutton/PythonHeadlessChrome).

[[found at stackoverflow](https://stackoverflow.com/questions/45631715/downloading-with-chrome-headless-and-selenium?rq=1)]

[2019-03-28 07:00] UsharaniA commented on #108
Can any one help me with JavaScript and am surfing the internet for last 2 days  but not getting any solution.

Am using WebdriverIO tool and below is my configuration

chromeOptions: {

            args: ['--headless', '--disable-gpu', '--window-size=1366,768'],
            prefs: {
               // 'download.default_directory': $'C:\\Users\\n276546\\Downloads',
                'download.prompt_

[2019-04-01 20:36] TC-rGangal commented on #108
facing the same issue :
here's what I am doing :

var path = require('path')
var DownloadFldr = path.resolve('./test/download/');
.
.
.
browser.sendCommand('Page.setDownloadBehavior', {'behavior': 'allow', 'downloadPath': DownloadFldr})
`

[2019-04-02 06:47] UsharaniA commented on #108
I get browser.sendCommand is not a function.

[2019-04-02 11:12] UsharaniA commented on #108
Finally i could able to download using webdriverIO.

const unirest = require('unirest');

let session = browser.session();
// key sessionId is webdriverio implementation, debug your session object
let sessionId = session['sessionId'];
let params = {
'cmd': 'Page.setDownloadBehavior',
'params': {'behavior': 'allow', 'downloadPath': 'C:\\gitNodejs\\art-automation-test\\CucumberWebdriverIO\\testResul

[2019-04-25 08:18] jdvegmond opened #138 "Support latest version of Chrome!"
#####  Expected behaviour
Chimpy should work with the latest version of Chrome. (v74 at moment of writing)

#####  Actual behaviour
Tests are not started, and the following message is shown:
[chimp][helper] setupBrowserAndDDP had error
{ Error: session not created: Chrome version must be between 70 and 73
........

##### Exact steps to reproduce / repository that demonstrates the problem
Install t

[2019-05-07 22:59] maveco69 commented on #108
none of these make it work, but this is the combination for WebdriverIO (JS) that worked out.

`capabilities: [{
        maxInstances: 5,
        browserName: 'chrome',

        'goog:chromeOptions': {
            args: ['--disable-gpu', '--disable-web-security','--no-sandbox'],
            prefs: {
                'download.default_directory': downloadDir,
                'download.prompt_for_dow

[2019-05-16 13:34] rsshilli commented on #138
I've created a patch for this (#140) to upgrade Chimpy to Chromedriver 74.0.3729.6.  Until it gets merged in, you can test out my patch by using the following line in your package.json:
[code]

[2019-05-16 17:36] rsshilli opened #141 "I can't run the unit tests for Chimpy"
I can't run the unit tests for Chimp to ensure that my changes are okay.  I'm running:
[code]

#####  Expected behaviour
I should see tests running.

#####  Actual behaviour
[code]

##### Exact steps to reproduce / repository that demonstrates the problem
1. Run:
[code]

#####  Version & tools:

* Chimp command line used: npm run testonly
* Chimp config file: None
* Chimp: master (0.54.0)
* Node.j

[2019-05-16 17:38] rsshilli commented on #141
Also related: It would be really nice to be able to run the tests from a windows machine.  This library really discourages non-Unix maintainers.

[2019-05-16 19:13] rsshilli commented on #138
Ok.  I had previously posted a GitHub repo here that you could use in package.json, but I was wrong.  Until a new package is posted, to use the latest version of Chrome you'll have to use my cherry-chimp package:
[code]

This will likely go away once my changes in #140 are accepted and published.

[2019-05-16 19:43] alanning opened #142 "Using import syntax in config file throws error"
#####  Expected behaviour

.config/chimpy.js
[code]

[code]
Should work.

#####  Actual behaviour

`SyntaxError: Unexpected token import`

##### Exact steps to reproduce / repository that demonstrates the problem

.config/chimpy.js
[code]

#####  Version & tools:

* Chimp command line used: npx chimpy .config/chimpy.js
* Chimp config file: https://gist.github.com/alanning/aaa09d546d020ddef448a14d4

[2019-05-16 19:55] alanning commented on #141
Here's the fix for this:

[code]

[2019-05-17 05:55] jdvegmond commented on #138
Thanks, but with help from some colleagues I solved the issue by going into
the Chimp folder and updating the chromedriver myself. We found this out
because when someone installed Chimpy from scratch they didn't have the
problem.

On Thu, 16 May 2019 at 21:13, Ryan Shillington <notifications@github.com>
wrote:

[2019-05-17 18:09] rsshilli commented on #141
Nice!

[2019-05-17 18:27] rsshilli commented on #138
When you install Chimpy from scratch, uses the `2.46` driver which is pretty old (it matches Chrome 69).  The good/bad thing about 2.46 is that it doesn't tell you that you have the wrong driver.  That "feature" wasn't introduced until Chromedriver 70.

FWIW, our docker container refuses to upgrade past Chrome 73 and Chromedriver 74 refuses to work with Chrome 73, so I also created a `cherry-chimp

[2019-05-18 22:23] megagon commented on #108
for anyone who is experiencing this for wdiov5:
chrome capabilities (wdio.conf)
[code]

devtools (wdio.conf)
services:
[code]

and after that before I start download I run
[code]

[2019-05-29 17:45] pcamen commented on #108
Ditto on using Xvfb with non-headless Chrome / Chromium-browser.  We banged our heads against the wall for weeks trying to get --headless to work with downloads.  Here is specifically what we did:

0. Install Xvfb
sudo apt-get install xvfb
1. Start a screen session
2. Start Xvfb process to provide a virtual display
Xvfb :1 -screen 5 1024x768x8 &
3. Add DISPLAY to the environment in the screen sess

[2019-06-07 00:24] damuz91 commented on #108
If we got a VPS with an automatic crawler i think this wont be a solution would it?

[2019-06-07 03:25] pcamen commented on #108
We are using this on a Linode VPS but I don't see why it wouldn't work on any headless VPS.  As for an automatic crawler, I assume you are talking about something you built yourself that uses Chrome, yes?  We are using this with a system we built to do some integrations with an enterprise MRP software package that has a web interface that won't work with simpler scraping solutions, and has some of

[2019-06-11 08:03] wolasss commented on #116
Bump. Is there anything we can do as a community to speed this up?

[2019-06-11 08:06] joscha commented on #116
@Adam: both projects seem dead. I opened pull requests to both, none of
them even dignified with an answer. We're currently figuring out how to
migrate away.

On Tue., 11 Jun. 2019, 18:03 Adam Wolski, <notifications@github.com> wrote:

[2019-06-11 12:25] mpeltonen commented on #116
Yeah, it's been sad to see the project effectively dying. Also currently investigating options for replacement.

[2019-06-11 12:27] wolasss commented on #116
@mpeltonen @joscha thanks guys for pointing that out. I have moved to using webdriver.io and cucumber directly, works as expected on CI

[2019-06-11 12:46] samhatoum commented on #116
@joschs it's a little unfair to say that you didn't get a dignified response. I got this email from you in late 2018 to which I responded with:

[code]

Now it's true that both I and The Brain have been neglecting Chimp and that's because I believe it's shelf life has ended, especially with tools like Webdriver.io having caught up to most of Chimps functionality, and Cypress offering a great alter

[2019-06-11 13:01] lgandecki commented on #116
From my perspective, we here at TBSH are still using it for a few projects, including one very large one - with almost 1k chimpy tests. But, as Sam mentioned, there are other similar projects with heavy investments behind them (wdio, cypress, to mention just two) that caught up and basically ran circles around chimp since it was released. We don't start new projects with chimpy, and we don't recom

[2019-06-11 13:40] joscha commented on #116
excuse me, but my sentence read:

in full. Your references is out of context.

But apart from that, given that this PR was opened a year ago, similar to https://github.com/xolvio/chimp/pull/696 and further PRs (also a few months ago) such as https://github.com/TheBrainFamily/chimpy/pull/127 and https://github.com/TheBrainFamily/chimpy/pull/139 (and these are only mine, there are boatloads more fro

[2019-06-11 13:43] joscha commented on #116
We never used chimp with meteor. The reason we chose chimp was because:
* it bundles all the tools we wanted in perfect orchestration (wdio, config, cucumber)
* its watch mode is unrivalled by any other runner and works with Typescript and other transpilers out of the box

Node 10 is the current LTS version. Well, was, now we're at 12 I suppose, but I haven't tried if Chimp is any more happy with

[2019-06-11 13:45] lgandecki commented on #116
Just did a bit of merging, tweaking, testing and released the 1.0 version that as far as I can tell (verified with a simple repo so far - https://github.com/TheBrainFamily/chimpy-1.0-tests ) works on both node 10 and 8 (doesn't work on 6, but I guess no one should be upgrading chimp if they are still on node 6).

Sorry for the delay guys. This is a difficult project to work with, and to be honest

[2019-06-11 13:47] lgandecki commented on #116
@joscha could you say a bit more about wdio5 and not properly working cucumber framework? I did actually work on the wdio/cucumber integration, and am one of the contributors with RW access to the webdriverio repositories, so I might be able to help a bit here.

[2019-06-11 13:48] joscha commented on #116
@supercrabtree could you please share all your investigations with @lgandecki?

[2019-06-11 13:56] joscha commented on #116
FWIW we are still using the original chimp package but have since moved to a fork that contains https://github.com/TheBrainFamily/chimpy/pull/139. Also our node modules are cached, so the npm install stats would be off anyway. But if chimpy was maintained and we didn't have the caching, etc. it would be thousands of installs a week - chances are there are more companies like this.

[2019-06-11 14:05] samhatoum commented on #116
@joscha apologies for the wrong reference, and I'm glad you understand the difficulty of OSS.

I do want to correct something you're dating, which is that I never offered you help for pay, I offered an intro for custom dev work for getting Chimp to work with Percy, which was your requirement.

In any case, let's move forward and get these PRs in for you guys.

[2019-06-11 14:12] joscha commented on #116
Your email (quoted above) has three points 1) pay, 2) open PRs 3) migrate to wdio. With 3 not being an option with the missing cucumber support, 2 and 1 were left. Looking at the responsiveness to other pull requests, 2 was not an option, which left me feeling this convo that I either pay or forget this project.

[2019-06-11 14:16] samhatoum commented on #116
Yes, but not pay me @joscha, that's the key there. I was genuinely trying to help you and I still am by dedicating folks to get these PRs dealt with. Please see that

[2019-06-11 15:45] lgandecki commented on #141
Thanks @alanning and @rsshilli , this is released as of 1.2.0

[2019-06-11 15:45] #141 closed

[2019-06-12 00:36] supercrabtree commented on #116
Hi @lgandecki, unless I have missed something cucumber is not currently supported for webdriverio 5. In the docs https://webdriver.io/docs/frameworks.html it says up the top:

I was currently watching this PR https://github.com/webdriverio/webdriverio/pull/3667 but am I missing something? Is it already supported? Cheers :)

[2019-06-12 08:21] mpeltonen commented on #116
Thanks a lot @lgandecki and @samhatoum for the merges and new release, much appreciated!

[2019-06-12 11:56] samhatoum commented on #116
Welcome @mpeltonen

@lgandecki I think you're talking about an older version of the cucumber 2 plugin for WDIO (this one https://github.com/lgandecki/wdio-cucumber2-framework). The guys are looking for a Webdriver 5 version.

There is an actively open PR mentioned above which looks like it may not be far off now. If it doesn't progress, then @joscha and @supercrabtree please let us know and we can

[2019-06-13 01:13] supercrabtree commented on #116
Fantastic @samhatoum thank you very much. I'd be more than happy to write a migration guide, there was few pitfalls along the way that took me a while to figure out so if I can help others avoid them that would be great 👍 I also wrote a utility function that allows the cucumber tests to be written in both the older v1 style and the newer (v4?) style, this was a huge help in breaking down giant PRs

[2019-06-13 01:26] samhatoum commented on #116
Thanks @supercrabtree, that would be fab. Keep us posted with how you get on and then we can add to the README of this project to allow others to benefit from your work, and we can reference the utility function that you wrote.

[2019-06-13 14:57] abjerstedt commented on #116
The cucumber v5 support for webdriverio is close, but simultaneously far away.

I delivered the code itself (before bug fixes), but we need to write lots and lots of Unit tests (We have a 100% code coverage requirement for merges). The problem is, I don't have the time to work on it at the moment (its summer!).

[2019-06-25 22:51] KristianTua commented on #108
Did you actually try this? I tried this and did not get it to work.

[2019-07-03 12:45] reinisriekstins opened #145 "Chimpy crashes upon app server restart with --ddp flag"
### The problem
I was following the instructions at https://guide.meteor.com/v1.3/testing.html#acceptance-testing to setup an acceptance testing environment with Chimpy, and upon running the command `chimpy --ddp=http://localhost:3000 --mocha --watch --path=tests`, everything runs correctly and the tests are executed , however upon making any changes to any client or server file in the Meteor app

[2019-07-12 10:44] samhatoum commented on #116
Looks like it just got completed:
https://webdriver.io/blog/2019/07/11/cucumberjs-v5-released.html

@supercrabtree let us know how you get on with the conversion once you get to it and shout if you need any help

[2019-07-18 12:34] jdmwood2 commented on #108
I managed to get this working with protractor tests. Followed similar approach to above:

[code]

(`browser.driver` is just the native WebDriver driver object so this should work even if you're not using protractor).

The only difference for me was that `driver.execute()` didn't exist and neither did various other methods, but `driver.sendChromiumCommand()` did exist. Guess it depends on your vers

[2019-07-18 14:21] lucasczpnk commented on #108
Hi Kristian,
Sorry for the long delay!

And technically yes, I've added a few lines to it to better suit my needs.
Here's my version, so you can test it:

[code]

[2019-07-18 14:35] KristianTua commented on #108
Hey Lucas,

Thanks so much for getting back to me ill give this a try.

Thanks!

[image: TUA_Logo (1).png]

Kristian Berg

Credit Analyst, tua Financial Technologies Ltd <https://www.tua.ca/>.
<http://www.tua.ca/>

587-885-0447 <(587)%20885-0447>

[image: Facebook.png] <http://www.facebook.com/tuaFinancial>[image:
Instagram.png] <http://www.instagram.com/tuaFinancial>

On Thu, Jul 18, 2019 at 8:21

[2019-07-18 14:48] lucasczpnk commented on #108
No problem!

Let me know if you need any help getting it to work.

[2019-07-22 19:31] booracle opened #146 "chromedriver 2.46.0 download URL invalid"
#####  Expected behaviour
Automation could get start and run.

#####  Actual behaviour
Automation couldn't get start due to chromedriver download URL invalid. https://chromedriver.storage.googleapis.com/2.46.0/chromedriver_mac64.zip
##### Exact steps to reproduce / repository that demonstrates the problem
1. Automation previously works under node v6.17.0 & chimpy 0.54.0 environment, "chromedriver"

[2019-07-23 10:28] vigyanhoon commented on #108
`System.setProperty("webdriver.chrome.driver", path);
DesiredCapabilities capabilities = DesiredCapabilities.chrome();
capabilities.setCapability(CapabilityType.UNEXPECTED_ALERT_BEHAVIOUR, UnexpectedAlertBehaviour.ACCEPT);

// For Custom Download Folder
HashMap<String, Object> chromePrefs = new HashMap<>();
chromePrefs.put("profile.default_content_settings.popups", 0);
chromePrefs.put("download.de

[2019-07-24 20:01] KristianTua commented on #108
I could not get your code to work on Linux

[2019-07-24 20:33] KristianTua commented on #108
I could not get this to work on mac, chrome version 75 and chromedriver version 75

[2019-07-25 02:20] lucasczpnk commented on #108
Can you share the stack trace or any log you might have of the issue?

If memory serves me right, I also had an issue with v75 and since then I'm using 74.
Try using v74 and if it still doesn't work, please share the stack trace or error message here, so that we can try to figure out the cause.

Here's the official link for this version's download:
https://chromedriver.storage.googleapis.com/index

[2019-07-25 02:45] lucasczpnk commented on #108
@vigyanhoon

I'm not really versed in Java, but I tried testing your code anyways.
After trying to execute your code I got `"No "public class" found to execute"`.
As far as I know (I might be wrong, though), you need to have a main method inside a public class, except for servlets / applets i think.

[2019-07-25 03:33] vigyanhoon commented on #108
Its just chromedriver part of code I pasted. Will try to create an independent example.

[2019-08-10 20:59] vibhuist commented on #108
Works!

[2019-08-13 13:00] shwetaneelsharma commented on #108
How do I get this working in Behat with Mink?

[2019-10-01 21:34] hexsprite commented on #138
Can chimpy just not install chromedriver and prompt you to install it on the top level if you don't install it? That way we can choose to whatever version we want....

[2019-10-02 12:47] lgandecki commented on #138
I'm pretty sure that's what we do in the most recent version @hexsprite
https://github.com/TheBrainFamily/chimpy/pull/148

is this not working for you properly?

[2019-10-02 17:35] hexsprite commented on #138
@lgandecki unfortunately no... I'm installing using the `git+https://` URL. I wonder if that's causing the issue.

Actually re-installing using the NPM installed version seems to work properly... Thanks!

[2019-10-04 18:15] schlaegerz opened #150 "Adding chimpy as dev-dependency breaks app"
#####  Expected behaviour

#####  Actual behaviour

##### Exact steps to reproduce / repository that demonstrates the problem
When I have chimpy installed as a devdependency my server crashes when I run it in not test mode.

#####  Console / Log Output
W20191004-11:10:07.047(-7)? (STDERR) /.meteor/packages/meteor-tool/.1.8.0_2.5gk8rs.jxa3o++os.osx.x86_64+web.browser+web.browser.legacy+web.cordova/

[2019-10-04 18:24] lgandecki commented on #150
well, that's not good.. Any chance you could try to prepare a small reproduction? Maybe just having the same version of Meteor + accounts woud do the trick?

[2019-11-26 10:59] mvgiacomello commented on #108
Literally, just like @jdmwood2 said. I made it work on Webdriver.IO V5 with chrome headless by simply adding the following code to the `before` hook:
[code]
I **did not** add absolutely no prefs.

[2019-11-27 18:47] hexsprite opened #152 "node 12: bump fibers dependency"
Trying Meteor 1.9 which includes node 12, requires fibers@4 for Node 12

[2019-11-28 08:59] lgandecki commented on #152
@lucetius could you please take a look? Try to bump fibers and see if the tests are running

[2019-11-28 14:49] hexsprite commented on #152
as a temporary workaround i was able to proceed by overriding the versions in the npm-shrinkwrap.json

[2019-11-28 14:50] hexsprite commented on #152
i should note that fibers@3.0.1 was present in many chimpy dependencies, not just in a single place...

[2019-12-19 20:08] vidya-sundararaman-q2 commented on #108
@mvgiacomello  Can you tell me which chrome and selenium versions you are using. I have not been able to get it working with "selenium-standalone": "^6.17.0"
This is what i have in my before function
browser.sendCommand('Page.setDownloadBehavior', {
      behavior: 'allow',
      downloadPath: downloadDir
    })
This is my chrome settings
browserName: 'chrome',
      'goog:chromeOptions': {

[2019-12-20 17:42] mmacvicar-splunk commented on #108
TL;DR upgrading to chromedriver 79.0.0 on OSX allowed this to work for me.

I was banging my head against this on OSX using the javascript selenium-webdriver and chromedriver 78.0.0 and couldn't get it to work. I found this bug about headless chromedriver not working on OSX https://bugs.chromium.org/p/chromium/issues/detail?id=979847, which was marked recently as "no longer reproducible".  So I up

[2020-01-17 06:29] woytu commented on #108
[code]

https://github.com/SeleniumHQ/selenium/issues/5722#issuecomment-459161468

[2020-01-22 17:36] schlaegerz commented on #152
I am now also having this issue. Is there a plan to get this updated soon?

[2020-02-14 10:15] bj00rn opened #154 "cannot install dev-dependencies -> jest-cli dependency is invalid"
#####  Expected behaviour
running `npm install` should install dependencies

#####  Actual behaviour
running `npm install` does nothing and no errors are thrown

running `npm --verbose install` throws error below
seems that `ssh://git@github.com/Sanjo/jest.git` repo has been deleted

My guess is that user `Sanjo` has left github and deleted all repos, another user has registred under that name sin

[2020-02-19 10:47] dweller23 commented on #152
Alright so here's the problem: if we bump Fibers to 4, then Webdriver 4 seemingly becomes incompatible with Fibers, which means we would have to update to Webdriver 5, which is completely different thing, that would require major reimplementation of Chimpy. We might have to shelve this thing, unfortunately.

[2020-02-19 17:24] hexsprite commented on #152
@dweller23 Dang! That sucks. What makes Webdriver 5 totally different? I looked at the announcement but it wasn't immediately clear. It seems like they reoganized the API a bit but it's still the same overall idea?

[2020-02-20 06:09] lgandecki commented on #152
Right, the API is a bit different, and most probably we would have to use async/await instead of wrapping things with fiber? overall quite a bit of work if you want to keep existing tests. I don't imagine many people want to START a project with chimp nowadays anyway, so all we care (also for our internal purposes) is backward compatibility.
Looks like what we are going to do for our projects is t

[2020-02-20 19:38] schlaegerz commented on #152
I wonder if there is a way to strip this package down to just the parts that are relevant to integrating with the server and the cli and then let people handle the browser with whatever existing package they want.

I feel like it should be fairly straight forward to upgrade our existing tests to a new webdriver since there should be plenty of examples out there, but re-implementing all the other l

[2020-02-25 14:52] #154 closed

[2020-03-05 06:39] vrudhay opened #156 "Lots of warnings on deprecation of packages with Node 11.10.x itself"
#####  Expected behaviour
npm chimpy should install cleanly without warnings.

#####  Actual behaviour
There are Lots of warnings that appear to be deprecated

##### Exact steps to reproduce / repository that demonstrates the problem
have node version 11.10.x
npm install chimpy

#####  Version & tools:
npm install chimpy
v3.0.1
v11.10.x
#####  Console / Log Output

![image](https://user-images.git

[2020-03-08 21:30] hexsprite commented on #152
The ddp stuff is trivia. As a lazy Sunday challenge I decided to see if I could migrate to WebdriverIO 6 with my existing tests. Minor syntax changes (they even support sync mode so you don't need to use await if you don't want to). The major change being that browser.waitForExisting(etc) is now $(etc).waitForExisting() and so on.

DDP is as simple as:

[code]

Other than that pretty much all of m

[2020-03-08 22:31] schlaegerz commented on #152
Ok thanks for the tip on how to get this going! I am definitely looking to move on from chimp, but It’s hard to make the full jump. Meteor definitely needs some new docs on best testing practices since it still suggests chimp which won’t work going forward :/

[2020-03-17 15:42] schlaegerz commented on #152
To help future people with this problem here is the code I ended up using. I put this in a file serverInstance

[code]
and then called
`const {server} = require('./serverInstance')`

I switched to using webdriver directly which is a much better supported framework.

The biggest change I have to make is since my serveri.execute is now a promise I have to do await on all the calls and then if you ar

[2020-03-25 19:54] Fryuni commented on #156
I found this project today and tried to install on Node v12.16.1. Also lots of deprecation file not found warnings. At the end npm didn't even considered chimpy installed because of a failure installing fibers

[code]
The "additional logging output above" is exactly what @vrudhay posted

[2020-04-15 13:51] rsshilli commented on #117
This fix for src/lib/cucumberjs/hooks.js is still needed:

https://github.com/CherryCircle/chimpy/commit/b48a2a517cb6ffb16ac4f429097a7e76f04be753#diff-749adcafde5c87c756c5ed23d1de29dd

In bad situations, the test will fail but the build system will think that it passed because you're not exiting with a non-zero exit code. This causes false-positive test results which is really, really bad!

[2020-04-15 14:12] lgandecki commented on #117
@dweller23 could you please apply that change and publish a new version? Thanks!

[2020-06-05 23:06] xywang68 commented on #152
Hi, @schlaegerz , can you elaborate more on how to move forward with webdriverio v6?

[2020-06-06 00:17] ToyboxZach commented on #152
So i got rid of chimpy completely since it was no longer doing me any good

i directly install webdriver through npm, I have these packages
    "@wdio/cli": "^6.1.15",
    "@wdio/local-runner": "^6.1.14",
    "@wdio/mocha-framework": "^6.1.14",
    "@wdio/spec-reporter": "^6.1.14",
    "chromedriver": "^83.0.0",
    "wdio-chromedriver-service": "^6.0.3",

I ended up making a wdio.conf.js file:
[co

[2020-06-06 00:20] schlaegerz commented on #152
So i got rid of chimpy completely since it was no longer doing me any good

i directly install webdriver through npm, I have these packages
"@wdio/cli": "^6.1.15",
"@wdio/local-runner": "^6.1.14",
"@wdio/mocha-framework": "^6.1.14",
"@wdio/spec-reporter": "^6.1.14",
"chromedriver": "^83.0.0",
"wdio-chromedriver-service": "^6.0.3",

I ended up making a wdio.conf.js file:
[code]
and now I run my tes

[2020-06-21 01:49] raghavmayank commented on #108
after wasting so much time this worked. thanks :+1:

[2020-08-12 20:13] vipulgupta2048 commented on #108
For anyone using Chrome Devtools protocol with WebdriverIO, this is the solution that [actually works](https://mixstersite.wordpress.com/2020/08/13/file-download-headless-chrome-chromium-webdriverio-devtools-chromedriver/) with headless Chrome/Chromium with WebdriverIo v6.

[2020-09-03 10:09] jirkadev commented on #145
I have the same problem

[2020-10-06 19:08] bmanturner commented on #150
This is due to the inclusion of fibers in this package. I don't know why, but I've traced it to that dependency

[2020-10-07 10:37] Gobliins commented on #156
same

[2021-01-24 13:55] lhorvath87 commented on #108
Hello Guys,

I had same problem (Windows 10) in python.
If you have in your code this solution:

[code]

You can try to change your download_path variable
I had it like this:

`download_path = "C:/Users/my user name/Downloads"`

Did not work and I changed it to:

`download_path = "C:\\Users\\my user name\\Downloads"`

Changing backslashes worked for me.
Hope it will help you too.

[2021-02-10 00:01] nerrante commented on #108
@lhorvath87 THANK YOU for that - I am not even using Chimpy but was troubleshooting why headless chrome wasn't downloading for me using another tool and found your answer- it was all about the download path and the slashes.  I changed that and it began working.

[2021-03-18 10:08] bj00rn opened #162 "Project Abandoned, future of this project?"
Hi,

Is this project abandoned?

No releases for a year and the dependencies are outdated of which some of them do not seem to be actively maintained.

Regards

[2021-03-18 10:12] dweller23 commented on #162
I suggest looking at the https://github.com/TheBrainFamily/chimpy/issues/152 issue, there is some discussion regarding the situation with Meteor, Fibers, Webdriverio and Chimpy.

[2021-03-18 10:14] lgandecki commented on #162
We moved all our tests away from chimp/chimpy. On most projects it was very simple, you can take a look at the issue @dweller23 mentioned.
On one occasion and very big project it was a few days task for an app with ~1000 tests, so it's doable.

The burden of maintenance was too high for us - especially since chimpy relies on so many external dependencies including chrome / chromedriver, and return

[2021-10-19 16:06] jirkadev commented on #145
For anyone still using chimpy, I found a temporary workaround, it will disable test reloads upon code change, but at least it will not crash.
You can still trigger chimp re-run, if you change and save the test.

1. from your error message find ddp-watcher.file
2. Comment lines around `self._triggerRerun();`

<img width="1066" alt="Screen Shot 2021-10-19 at 17 59 15" src="https://user-images.github